@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: NeueMontreal, sans-serif;
}

.static {
  position: static !important;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::selection {
  background-color: rgb(143, 199, 255);
  color: white;
}

@font-face {
  src: url("../font/NeueMontreal.woff");
  font-family: NeueMontreal;
}

@layer utilities {
  .input-styles {
    @apply shadow-md mb-4 block w-full rounded-lg border bg-transparent px-4 py-3 text-base dark:border-white;
  }

  .legend-styles {
    @apply mb-2 text-text dark:text-white/80;
  }
}
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradientAnimation linear infinite;
}
