.skeleton {
  width: 100%;
  background: linear-gradient(to right, #a4a4a4 0%, #cccccc 50%, #a4a4a4 100%);
  background-size: 400% 400%;
  animation: pulse 1s ease-in-out infinite;
  min-height: 12px;
  max-height: 100%;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.image {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.2);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-position: center;
    z-index: 2;
  }
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: -135% 0%;
  }
}
